@model List<Dish>

<partial name="_Notifications" />
<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<h2>Lista de Platos</h2>
		</div>

		<div class="col-6 text-end">
			<a asp-controller="Dishes" asp-action="Create" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i>Nuevo Plato
			</a>
		</div>
	</div>
    <div class="row pb-0">
        @foreach ( var thisDish in Model )
        {
            <div class="col-sm-12 col-md-6 col-lg-4 mb-2 mt-3">
                <div class="card bg-secondary border-3 h-100">
                    <img src="@thisDish.Picture" class="card-img-top" style="height: 100%; object-fit: cover;" alt="@thisDish.Name">
                    <div class="card-body">
                        <h5 class="card-title">@thisDish.Name</h5>
                        <p class="card-text">@Html.Raw( thisDish.Description )</p>
                        <p class="card-text">
                            Estado:
                            <span class="btn btn-sm @(thisDish.IsEnabled == 1 ? "btn-success" : "btn-danger")">
                                @(thisDish.IsEnabled == 1 ? "Disponible" : "No Disponible")
                            </span>
                        </p>
                    </div>
                    <div class="card-footer d-flex align-items-end">
                        <a asp-area="Kitchen" asp-controller="Dishes" asp-action="edit" asp-route-id="@thisDish.Id" class="btn btn-primary form-control">Editar</a>
                    </div>
                </div>
            </div>
        }
    </div>


</div>


<script src="~/js/dishKitchen.js"></script>
